@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background: #0a0a0a;
  color: #0a0a0a;
}

.space-grotesk-font {
  font-family: "Space Grotesk", sans-serif;
}
